<h1>New Contact</h1>

<p>
  <%= link_to "Home", root_url %>
</p>

<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone, :as => :tel %>
  <%= f.button :submit %>
<% end %>
