<h1>New Contact</h1>

<p>

<%= simple_form_for @contact, :html => {:class => 'form-vertical' } do |f| %>
  <%= f.input :first_name, placeholder: 'First Name', label: false %>
  <%= f.input :last_name, placeholder: 'Last Name', label: false %>
  <%= f.input :email, placeholder: 'email', label: false %>
  <%= f.input :phone, :as => :tel, placeholder: 'Telephone', label: false %>
  <%= f.button :submit %>
<% end %>

</p>
