<h1>Contact Detail</h1>

<p>
  <%= link_to "Edit", edit_contact_path, class: 'btn' %>
  <%= link_to 'Destroy', @contact, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<% if @contact %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><b>Name</b></th>
        <th><b>Email</b></th>
        <th><b>Phone</b></th>
      </tr>
    </thead>
    <tr>
      <td><%= "#{@contact.first_name} #{@contact.last_name}" %></td>
      <td><%= @contact.email %></td>
      <td><%= number_to_phone(@contact.phone) %></td>
    </tr>
  </table>
<% else %>
  Oops, I can't find that contact.
<% end %>
